body
{

	font-size:13px;
	height:100%;
	max-height:100%;
	line-height: 1.6em;

}

a
{
	font-size:13px;
    text-decoration:none;
}



/*Backgrounds of cells*/
.main-td-background
{
     background-color:#CEE3F6;
}



.main-td-background-selected
{
     background-color:#D0F5A9;
}
.logo-div
{
     border: 2px #CEE3F6 solid;
     vertical-align:middle;
     width:208px;
     height:70px;
}


input,textarea,select
{
    border: 1px solid #e7e7e7;
    background: white;
   font-size:15px;
   color:black;
   font-family:Trebuchet MS,Verdana, sans serif;
   border-radius:3px; //Borde redondeado
}


input[type="button"],input[type="submit"]
{
background-color: #09a0d4;
color: white;
border: 1px solid gray;
cursor: pointer;
border-radius:5px;
	padding:5px 10px 5px 10px;

}

input[type="button"]:hover,input[type="submit"]:hover
{
opacity: 0.8;
}




.input_bordes_rojo
{
    border: 3px solid red;

}

.input_bordes_azul_fuerte
{
    border: 3px solid blue;

}


.input_bordes_azul_normal
{
    border: 1px solid gray;

}



#box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width:100%;
	text-align: left;
	border-collapse: collapse;
}
#box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: white;
	border-top: 4px solid #aabcfe;
	border-bottom: 4px solid #aabcfe;
	color: black;
}
#box-table-a td
{
	padding: 8px;
	background: white; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
	background: #ADDDDF;
	color: #339;
}

